*.log
.cache
.DS_Store
src/.temp
node_modules
dist
.env
.env.*
package-lock.json
yarn.lock
static/deployDate.txt
static/rss*.xml

# Local Netlify folder
.netlify

# Exclude data
data/*

# But keep folder
!data/.gitkeep
