body {
  padding-top: $navbar-height;
}

.vertical-line {
  border-left: 10px solid $primary;
}

.reset-view-control {
  background-image: url(~@/assets/svgs/sync-alt.svg);
  background-size: 60%;
  background-repeat: no-repeat;
  background-position: center;
}

.taginput-container {
  padding-right: 0px !important;
}

.screenshot-control {
  background-image: url(~@/assets/svgs/camera.svg);
  background-size: 60%;
  background-repeat: no-repeat;
  background-position: center;
}

.md-text p {
  margin-bottom: 1rem;
}

.md-text p:last-child {
  margin-bottom: 0;
}
