.navbar-dropdown {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.navbar {
  @extend .red-line;
}

a.navbar-item {
  padding-top: 0.1rem;
  padding-bottom: 0.1rem;
  padding-left: 10px;
  padding-right: 10px;
}

a.navbar-link {
  padding-left: 0.625em;
}

a.navbar-link.is-arrowless {
  padding-right: 0.625em !important;
}

.navbar-link:not(.is-arrowless) {
  padding-right: 2em;
  &::after {
    right: 0.625em;
  }
}

.navbar-item img {
  max-height: 3rem;
}

.fade-enter-active {
  transition: opacity 0.8s;
}

.fade-enter {
  opacity: 0;
}

body {
  padding-top: $navbar-height;
}
